<!-- Fragmento del header reutilizable - Solo logo -->
<div th:fragment="header" class="header">
    <div class="logo-container">
        <img src="../resources/images/logoBMV.jpg" alt="BMV Logo" class="bmv-logo" />
    </div>
</div>

<!-- Fragmento para orientación landscape -->
<style th:fragment="landscape-styles">
    @page {
        size: A4 landscape;
        margin: 8mm;
    }
    
    @media print {
        @page {
            size: A4 landscape;
            margin: 8mm;
        }
        
        body {
            width: 297mm;
            height: 210mm;
        }
    }
</style>

<!-- Fragmento para orientación portrait -->
<style th:fragment="portrait-styles">
    @page {
        size: A4;
        margin: 8mm;
    }
    
    @media print {
        @page {
            size: A4;
            margin: 8mm;
        }
        
        body {
            width: 210mm;
            height: 297mm;
        }
    }
</style>
